/* @font-face */

:root {
 --GothamBook:"Gotham Book";
 --GothamBookItalic:"Gotham Book Italic";
 --GothamLight:"Gotham Light";
 --GothamLightItalic:"Gotham Light Italic";
 --GothamBold:"Gotham Bold";
 --GothamRegular:"Gotham Regular";
}

@font-face {
  font-family: GothamBook;
  src: url(../fonts/gotham/SVN-Gotham-Book.otf);
  /* font-weight: 500; */
}
@font-face {
  font-family: GothamBookItalic;
  src: url(../fonts/gotham/SVN-Gotham-Book-Italic.otf);
  /* font-weight: 500; */
}

@font-face {
  font-family: GothamLight;
  src: url(../fonts/gotham/SVN-Gotham-Light.otf);
  /* font-weight: 300; */
}
@font-face {
  font-family: GothamLightItalic;
  src: url(../fonts/gotham/SVN-Gotham-Light-Italic.otf);
  /* font-weight: 300; */
}

@font-face {
  font-family: GothamBook;
  src: url(../fonts/gotham/SVN-Gotham-Book.otf);
  /* font-weight: 500; */
}

@font-face {
  font-family: GothamBold;
  src: url(../fonts/gotham/SVN-Gotham-Bold.otf);
  /* font-weight: 700; */
}
@font-face {
  font-family: GothamBoldItalic;
  src: url(../fonts/gotham/SVN-Gotham-Bold-Italic.otf);
  /* font-weight: 700; */
}

@font-face {
  font-family: GothamRegular;
  src: url(../fonts/gotham/SVN-Gotham-Regular.otf);
  /* font-weight: 700; */
}