/* @import fonts */
@import url(./fonts.css);

/* @import variables css*/
@import url(./partials/_variables.css);

/* @import global css */
@import url(./partials/_global.css);

/* key frame animation css */
@import url(./partials/_keyframe.css);

/* @import icons */
@import url(./icons.css);

header .header__container{
  background-color: #232323;
}

header .header__container nav{
  padding: 15px;
}

header .navbar-collapse .nav-item .nav-link {
  font-size: 14px;
  padding: 15px 20px 0 20px;
  color: #fff;
  font-family: GothamBook;
}
header .header__form-search input:focus,
header .header__form-search input:active,
header .header__form-search input:hover,
header .header__form-search input {
  color: #fff;
  font-family: GothamLight;
}
header .header__form-search input {
  border: 1px solid #fff;
  font-size: 12px;
}
header .header__form-search input::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

header .header__form-search input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

header .header__form-search input::placeholder {
  color: #fff;
}
.line-section {
  position: relative;
  border-bottom: 1px solid #939393;
  margin: 5% 0;
  margin-bottom: 10%;
}
.line-section img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  background-color: #e5e5e5;
  padding: 5%;
}
.contact .contact__title {
  color: #2a4178;
  font-size: 27px;
  font-family: GothamRegular;
}
.contact span.contact__title{
  font-size:20px;
  font-family: GothamBold;
}
.contact .icon {
  width: 30px;
  height: 30px;
}
.label-icon {
  display: flex;
  align-items: center;
}
.label-icon .icon {
  margin-right: 10px;
}

.label-icon .contact__title {
  margin-bottom: 4px;
}
.label-icon.dark .contact__title {
    color: #fff;
    font-family: GothamBook;
    font-size: 16px;
}
footer {
  background-color: #232323;
  padding: 5% 0;
}
footer .head__footer{
    padding-bottom: 5%;
}

footer .text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
footer .head__footer{
    margin-bottom: 3%;
}
.line-break{
  display: flex;
  justify-content: center;
  width: 100%;
}
.line-break span{
  background-color: #232323;
  width: 80px;
  height: 1px;
}



#top-offer-page #list_banner .banner_item .banner__offer_box {
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
}

#top-offer-page #list_banner .banner_item .banner__offer_box .overplay {
  filter: blur(12px);
  -webkit-filter: blur(12px);
  background-position: center;
  background-color: rgb(207, 206, 206);
  /* Fallback color */
  background-color: rgba(207, 206, 206, 0.5);
  /* Black w/opacity/see-through */
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
}
.banner__offer_box{
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #fff;
}
.banner__offer_box .content_box {
  position: relative;
  min-width: 370px;
  justify-content: space-between;
}

.banner__offer_box .content_box .offer__title {
  font-size: 23px;
  font-family: GothamLight;
  color: #fff;
}
.banner__offer_box .content_box .border-line{
  border-color: #fff;
  border-left: 1px solid #dee2e6;
}
.banner__offer_box .content_box .offer__info{
  color: #fff;
}
.banner__offer_box .content_box .offer__info .offer__text {
  font-family: GothamBold; 
  line-height: 1;
  font-size: 22px;
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 3px;
  margin-right: 7px;
}

.banner__offer_box .content_box .offer__text_italic {
  font-family: GothamBookItalic;
  font-size: 20px;
  line-height: 1.2;
  margin-left: 4px;
}

.banner__offer_box .number_offer .number {
  font-size: 100px;
  font-family: GothamRegular;
  line-height: 1;
}

.banner__offer_box .number_offer .percent {
  font-size: 50px;
  font-family: GothamRegular;
  line-height: 1;
}

.banner__offer_box.yellow{
  border-color: #FFC20E;
  background-color: #FFC20E;
}
.banner__offer_box.yellow .content_box .offer__info .offer__text{
  border-color: #232323;
}
.banner__offer_box.yellow .content_box .offer__title {
  color: #232323;
}
.banner__offer_box.yellow .content_box .offer__info{
  color: #232323;
}
.banner__offer_box.yellow .content_box .border-line{
  border-color: #232323;
}

.modalTS-div{
  background-color: #fff;
  position: relative;
  padding: 100px;
}
.modalTS-div .icon_float{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-20px);
  top: 0;
}