#process-page #banner{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
#process-page #banner .overplay{
  background-image: linear-gradient(rgba(0,0,0,0.8), transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
#process-page #banner .banner__content-div{
  position: relative;
  z-index: 99;
  padding-bottom: 30vh;
}

#process-page #banner .banner__content-div .banner__content{
  font-style: italic;
  font-family: GothamBookItalic;
  font-size: 16px;
  color: #fff;
  padding: 5% 0;
  text-align: center;
}

#process-page #banner .banner__content-div .banner__title{
  font-size: 40px;
  color: #fff;
  font-family: GothamBold;
  text-align: center;
  padding-bottom: 5%;
}
#process-page #banner .banner__step-div{
  background-color: #fff;
  position: relative;
  padding: 100px;
}
#process-page #banner .banner__step-div .icon_float{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-20px);
  top: 0;
}
#process-page #banner .banner__steps{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
#process-page #banner .banner__steps .step_item .step__img{
  width: 100%;
  /* height: 100px; */
  background-size: cover;
  background-position:bottom;
}
#process-page #banner .banner__steps .step_item .step__img img{
  width: 100%;
}
#process-page #banner .banner__steps .step_item .step__img{
  margin-bottom: 50px;
}
#process-page #banner .banner__steps .step_item .step__detail{
  text-align: center;
}
#process-page #banner .banner__steps .step_item .step__detail .title{
  font-weight: bold;
  font-family: GothamBold;
  font-size: 20px;
}
#process-page #banner .banner__steps .step_item .step__detail .detail{
  padding: 10px 20px;
  font-size: 16px;
  font-family: GothamLight;
}