html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: GothamBook;
}
header, main, footer{
  width: 100%;
}
p{
  margin: 0;
}
button:focus,
button:active,
button:hover .btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
  transition: all 600ms ease;
  transition: all var(--transition-duration) ease; }

  input:focus,
  input:active,
  input:hover{
    outline: 0px !important;
    box-shadow: none !important;
  }
button.btn.btn-warning{
  background-color:#FFC20E;
}
button{
  font-family: GothamRegular;
}
.text-warning{
  color: #FFC20E
}
.opacity-0{
  opacity: 0;
}