#news-page #event_news {
	margin: 5% 0;
}

#news-page #event_news .event_news__main {
	margin-bottom: 10%;
}

#news-page #event_news .event_news__main .card-title {
	font-size: 35px;
	font-family: GothamRegular;
}

#news-page #event_news .event_news__main .card-text {
	font-size: 16px;
	font-weight: 100;
	font-family: GothamLight;
}

#news-page #event_news .text-timeDate {
	color: #232323;
	font-style: italic;
	font-weight: 100;
	font-size: 16px;
	font-family: GothamLightItalic;
}

#news-page #event_news .text-timeline {
	color: #8E8E8E;
	font-family: GothamLight;
	font-size: 16px;
}

#news-page #event_news .image_news {
	width: 100%;
	height: 100%;
	background-color: #E2E2E2;
}

#news-page #event_news .event_news__list .news__item {
	position: relative;
}

#news-page #event_news .event_news__list .news__item .image_news {
	height: 200px;
}

#news-page #event_news .event_news__list .card-title {
	font-size: 32px;
	font-family: GothamRegular;
	flex: 1;
	flex-shrink: 0;
	max-height: 120px;
	min-height: 120px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-width: 90%;
	overflow-y: hidden;
}

#news-page #event_news .event_news__list .news__info {
	line-height: 1;
	align-items: center;
}

#news-page #event_news .label-icon .icon {
	margin: 0;
}
#news-page #event_news .event_news__list .news__item{
	margin-bottom: 40px;
}
#news-page #event_news .event_news__list .news__item .datetime_float {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: end;
}

#news-page #event_news .event_news__list .news__item .datetime_box {
	transform: translateY(-35px);
	display: inline-flex;
	flex-direction: column;
	border: 1px solid #232323;
	border-radius: 100%;
	height: 70px;
	width: 70px;
	align-items: center;
	justify-content: center;
	color: #232323;
	background-color: #fff;
}
#news-page #event_news .event_news__list .news__item .datetime_box b{
	font-weight: bold;
	font-size: 38px;
	line-height: 1;
	font-family: GothamRegular;
}
#news-page #event_news .event_news__list .news__item .datetime_box span{
	font-family: GothamLight;
	line-height: 1;
	font-size: 16px;
}
#news-page #event_news .event_news__list .news__item .datetime_box.highlight_yellow{
	color: #fff;
	background-color: #FFC20E;
	border-color: #FFC20E;
}

#news-page #event_news .event_news__pagination{
	display: flex;
	justify-content: center;
}
#news-page #event_news .event_news__pagination .pagination .page-item{

}
#news-page #event_news .event_news__pagination .pagination .page-item .btn{
	text-decoration: none;
	font-size: 25px;
	font-family: GothamLight;
	font-weight: 100;
	color: #898989;
}
#news-page #event_news .event_news__pagination .pagination .page-item .btn.btn-pagi{
	background-color: transparent;
	border: 0;
}
#news-page #event_news .event_news__pagination .pagination .page-item.disabled{
	pointer-events: none;
}
#news-page #event_news .event_news__pagination .pagination .page-item:not(.disabled) .btn.btn-pagi:hover{
	background-color: #f8f9fa;
	border: 0;
}
#news-page #event_news .event_news__pagination .pagination .page-item.active .btn{
	color: #232323;
	font-family: GothamRegular;
}

#news-page #contact_form {
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#news-page #contact_form .overlay{
	background-image: linear-gradient(to right, transparent ,rgba(0,0,0,0.8),#000);
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#news-page #contact_form .main_contact_form{
	position: relative;
}
#news-page #contact_form .main_contact_form .text-title{
	font-family: GothamRegular;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 40px;
}
#news-page #contact_form .main_contact_form .text-detail{
	font-family: GothamLight;
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 60px;
}
#news-page #contact_form .main_contact_form form input{
	background-color: transparent;
	margin-right: 10px;
	border-color: #fff;
	color: #fff;
	font-family: GothamBook;
}
#news-page #contact_form .main_contact_form form input:focus{
	border-color: #fff;
}

#news-page #contact_form .main_contact_form form input::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

#news-page #contact_form .main_contact_form form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#news-page #contact_form .main_contact_form form input::placeholder {
  color: #fff;
}
#news-page #contact_form .main_contact_form form button{
	font-family: GothamBook;
	padding-left: 35px;
	padding-right: 35px;
}