#home-page #banner {
  background-image: url("./images/banner.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 10%;
}
#home-page #banner .text-title {
  font-family: GothamBold;
  font-size: 35px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 10px;
}
#home-page #banner .text-detail {
  font-size: 18px;
  font-family: GothamBook;
  line-height: 1.2;
  margin-bottom: 20px;
}
#home-page #banner .banner__actions {
  margin: 0 -5px;
}
#home-page #banner .banner__actions button {
  margin: 0 5px;
  font-family: GothamRegular;
  font-size: 16px;
}

#home-page #banner .banner__div {
  margin-top: 10%;
}

#home-page #banner .banner__icon {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
#home-page #collection {
  background-image: url(./images/background-collection.png);
  background-size: contain;
  /* background-position: center; */
}
#home-page #collection .collection__item {
  margin-bottom: 10%;
}
#home-page #collection .collection__item .content__side .text-collection {
  font-family: GothamRegular;
  font-size: 18px;
  color: #232323;
}
#home-page #collection .collection__item .content__side .text-collection-name {
  font-family: GothamBold;
  font-size: 35px;
  color: #232323;
  margin: 0;
}
#home-page #collection .collection__item .content__side .text-style {
  font-family: GothamRegular;
  font-size: 25px;
  color: #494949;
  margin-bottom: 15px;
}
#home-page #collection .collection__item .content__side .content__title {
  padding: 0;
}
#home-page #collection .collection__item .content__side .content__detail {
  font-size: 16px;
  font-family: GothamLight;
  color: #000;
  margin-bottom: 30px;
  padding-right: 20%;
  padding-left: 0;
}
#home-page #collection .collection__item .content__actions {
  margin: 0 -5px;
  padding: 0;
}
#home-page #collection .collection__item .content__actions button {
  margin: 0 5px;
  font-family: GothamRegular;
  font-size: 16px;
  width: 150px;
}
#home-page #collection .collection__item.collection__item .img-fluid {
  height: 300px;
  background-size: cover;
  background-position: center;
}
#home-page #collection .collection__item .image__side,
#home-page #collection .collection__item.collection__revert .content__side {
  padding-left: 0;
  padding-right: 40px;
}

#home-page #collection .collection__item .content__side,
#home-page #collection .collection__item.collection__revert .image__side {
  padding-right: 0;
  padding-left: 40px;
}
#home-page #collection .collection__item.collection__revert,
#home-page #collection .collection__item.collection__revert .image__side .row,
#home-page #collection .collection__item.collection__revert .content__side .row {
  flex-direction: row-reverse;
}
#home-page #all-services .list-services{
	display: grid;
	grid-template: auto / auto auto;
	gap: 70px;
}
#home-page #all-services .service__item {
  height: 500px;
}
#home-page #all-services .service__item .img-fluid{
  background-size: cover;
  background-position: center;
	position: relative;
	height: 100%;
	width: 100%;
}
#home-page #all-services .service__item .overlay {
  background: rgba(35, 35, 35, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
#home-page #all-services .service__item .service__img {
  background-size: cover;
  height: 100%;
}
#home-page #all-services .service__item .service__title,
#home-page #all-services .service__item .service__content {
  height: 100%;
	padding: 0 20px 20px 20px;
}
#home-page #all-services .service__item .service__title p {
  font-family: GothamRegular;
  font-size: 25px;
  color: #fff;
  line-height: 1;
}
#home-page #all-services .service__item .service__content {
  border-left: 1px solid #ffc20e;
	padding-bottom: 10%;
}
#home-page #all-services .service__item .service__content p {
  line-height: 1.5;
  font-family: GothamLight;
  color: #fff;
  font-size: 16px;
}
#home-page #all-services{
	margin-bottom: 10%;
}

