#offer-page #banner {
  min-height: 100vh;
}
#offer-page #banner #offer-carousel .carousel-control-next, 
#offer-page #banner #offer-carousel .carousel-control-prev{
  width: 6%;
}
#offer-page #banner #offer-carousel .carousel-indicators li {
  border-radius: 50px;
  background-color: #A5A4A3;
  width: 10px;
  height: 10px;
  border: 0;
}
#offer-page #banner #offer-carousel .carousel-inner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-bottom: 13vh;
}

#offer-page #banner #offer-carousel .carousel-indicators li.active {
  background-color: #FFC20E;
}

#offer-page #banner #offer-carousel .carousel-item {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
#offer-page #banner #offer-carousel .carousel-item .banner__offer_box{
  padding-top: 40px;
  align-self: end;
}

#offer-page #banner #offer-carousel .carousel-item  .text-detail{
  font-family: GothamLight;
  font-size: 16px;
}
#offer-page #banner #offer-carousel .carousel-item .group-content.head p{
  margin-bottom: 15px;
  text-align: center;
}
#offer-page #banner #offer-carousel .carousel-item .modalTS-div{
  padding: 100px 40px;
}
#offer-page #banner #offer-carousel .carousel-item .modalTS__content .line-break{
  margin: 10% 0;
}
#offer-page #banner #offer-carousel .carousel-item .group-content .text-title{
  font-size: 45px;
  font-family: GothamRegular;
  text-align: center;
}
#offer-page #banner #offer-carousel .carousel-item .group-content .text-detail{
  font-size: 16px;
  font-family: GothamLight;
}
#offer-page #banner #offer-carousel .carousel-item .group-content.group-box-offer .text-title{
  margin-bottom: 40px; 
}
#offer-page #banner #offer-carousel .carousel-item .group-box-offer .box-offers{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid #FFC20E;
  padding: 50px 30px;
  margin-bottom: 40px;
}
#offer-page #banner #offer-carousel .carousel-item .group-box-offer .box-offers .icon-plus{
  margin: 0 15px;
  transform: translateY(50px);
}
#offer-page #banner #offer-carousel .carousel-item .group-box-offer .box-offers .box-offer__item{
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}
#offer-page #banner #offer-carousel .carousel-item .group-box-offer .box-offers .box-offer__item img{
  height: 100px;
}
#offer-page #banner #offer-carousel .carousel-item .box-offers .offer__img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 115px;
  width: 100%;
  position: relative;
}
#offer-page #banner #offer-carousel .carousel-item .box-offers .box-offer__item .icon-plus{
  margin: 0 20px;
}
#offer-page #banner #offer-carousel .carousel-item .group-box-offer .box-offers .box-offer__item .box-offer__content{
  font-family: GothamLight;
  font-size: 16px;
  text-align: center;
}
#offer-page #banner #offer-carousel .carousel-item .group-box-offer .group_timeline{

}
#offer-page #banner #offer-carousel .carousel-item .group_timeline .text-detail{
  font-size: 20px; 
  font-family: GothamLight;
  text-align: center;
}

#offer-page #banner #offer-carousel .carousel-item .group_timeline .text-detail .bold{
  font-family: GothamRegular;
}
#offer-page #banner #offer-carousel .carousel-item .footer-box .text-detail{
  font-size: 22px;
  font-family: GothamLight;
}